.articleholder {
    width: 70%;
    margin: 0 auto;
}

.articleholder img {
    max-width: 80%;
    max-height: 400px;
    margin: 10px auto;
}

.comment h3 {
    font-size: medium;
}

.rating {
    display: flex;
    align-items: center;
}

.rating button {
    border: none;
    background-color: none;
    height: 20px;
    margin: 0 0 0 10px;
}

.create_comment button {
    border: none;
    border-radius: 5px;
    background-color: rgb(44, 44, 165);
    color: whitesmoke;
    padding: 5px;
}